.info-box {
    margin: 40px 0;
}

.main-content {
    margin-top: 150px;
}

.head-text {
    font-family: postgrotesk-bold, serif;
    font-size: 16px;
    margin-bottom: 8px;
}

.sub-text {
    font-family: postgrotesk-light, serif;
    font-size: 14px;
}

.nb-div {
    margin-top: 30px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}