
.sidebar {
    background-color: #fbfbfb;
    height: 100%;
    border-left: 1px solid #dfdfdf;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    margin-top: 85px;
}

.sidebar-outer {
    padding: 30px;
}

.sidebar-box {
    width: 100%;
    border: 1px solid #dfdfdf;
    border-radius: 6px;
}

.sb-hidden {
    display: none;
}

.send-header {
    padding: 15px;
    border-bottom: 1px solid #dfdfdf;
}

.send-info {
    background-color: #ffffff;
    padding: 15px;
    border-bottom: 1px solid #dfdfdf;
}

.sndi-text {
    font-family: postgrotesk-light;
    color: #a3a3a3;
}

.sndi-amount {
    font-weight: bold;
}

.recv-header {
    padding: 15px;
    border-bottom: 1px solid #dfdfdf;
}

.recv-details {
    margin-right: 5px;
}

.recv-info {
    color: #71c1e6;
    font-size: 14px;
}

.recv-body {
    font-family: postgrotesk-light;
    padding: 15px;
    background-color: #ffffff;
    color: #a3a3a3;
    border-bottom: 1px solid #dfdfdf;
}

.recv-row {
    margin-bottom: 15px;
}

.recv-row-val {
    font-weight: bold;
}

.save-box {
    color: #ffce7a;
    padding: 20px 15px;
    text-align: center;
    background-color: #ffffff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

@media only screen and (max-width: 600px) {

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    .container {
        padding: 0 40px;
    }

    .sidebar {
        display: none;
    }

    .sb-hidden {
        display: block;
        padding: 30px 0 !important;
    }
}

@media only screen and (max-width: 768px) {

    .sidebar-outer {
        padding: 30px 10px;
    }

    .sidebar-box {
        font-size: 12px;
    }

    .recv-info {
        float: right;
        font-size: 12px;
    }
}

@media only screen and (max-width: 320px) {
    .recv-info {
        float: left;
        font-size: 12px;
        margin-top: 8px;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        padding: 0 40px;
    }
}

@media only screen and (min-width: 1024px) {

    .container {
        padding: 0 70px;
    }
}

@media only screen and (max-width: 1024px) {
    .sidebar-outer {
        padding: 30px 10px;
    }

    .container {
        padding: 0 40px;
    }
}